@import "./null.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
*,
*:before,
*:after {
   font-family: "Roboto", sans-serif;
}

.container {
   max-width: 745px;
   margin: 0 auto;
   position: relative;
   z-index: 1;
   padding: 0 10px;
   padding-top: 10px;
}

.logo {
   text-align: center;
   margin-bottom: 15px;
}

.search-section {
   display: flex;
   gap: 17px;
   margin-bottom: 30px;
}

.main-section {
   display: flex;
   justify-content: space-between;
   gap: 17px;
   margin-bottom: 30px;
   @media (max-width: 768px) {
      flex-wrap: wrap;
   }
}

#root {
   position: relative;
   padding-bottom: 20px;
   min-height: 100vh;
   .body-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
